.footer {
  background: #151515;
  padding: 2.5rem 0;
  font-family: Roboto, sans-serif;
}
.footer__container {
  margin: 0 1.25rem;
  padding-bottom: 1.875rem;
  width: 100%;
}

.footer__container p {
  color: #ccc;
  line-height: 1.5;
  font-weight: 100;
  margin-top: 0.9rem;
}
.footer__container p a {
  color: #ffcd00;
  text-decoration: none;
  font-weight: 400;
}
.footer__container p a:hover,
.footer__container p a:focus {
  text-decoration: underline;
}
.footer__container p a i,
.footer__container p a svg,
.footer__container p a span {
  margin-right: 0.625rem;
  font-size: 0.8rem;
  color: #999;
}

.footer a.site-name-link {
  color: #fff;
  text-decoration: none;
}
.footer a.site-name-link:focus,
.footer a.site-name-link:hover {
  text-decoration: underline;
}

.footer .site-name {
  color: #fff;
  font-size: 1.7rem;
  margin-top: 1.05rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.325rem;
}

.socket__menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socket__menu li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color: white;
  font-size: 0.8rem;
  border-right: 1px solid #5d5656;
  margin-bottom: 0.325rem;
  padding: 0 0.625rem;
}
.socket__menu li:first-child {
  flex-basis: 100%;
  border-right: none;
}
.socket__menu li:nth-child(2) {
  padding-left: 0;
}
.socket__menu li:last-child {
  border-right: none;
  padding-right: 0;
}
.socket__menu li:first-child {
  padding-left: 0;
}
.socket__menu li a {
  text-decoration: none;
  color: #ffcd00;
}
.socket__menu li a:hover,
.socket__menu li a:focus {
  text-decoration: underline;
}

.logo--footer {
  padding: 0 40px 0 0;
  width: 128px;
}

.footer__container .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__container .menu .menu-item a {
  line-height: 1.7;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}
.footer__container .menu .menu-item a:focus,
.footer__container .menu .menu-item a:hover {
  text-decoration: underline;
}

@media (min-width: 855px) {
  .footer {
    padding: 2.5rem 0 0 0;
  }

  .logo--footer {
    width: 145px;
  }

  .footer__container {
    flex-direction: row !important;
  }

}

@media (min-width: 1350px) {
  .footer__container {
    max-width: 84.375em;
    margin: 0 auto;
  }
  .logo--footer {
    width: 176px;
  }
}
